{% extends 'IbwJobeetBundle::layout.html.twig' %}

{% block content %}
    <div id="jobs">
		<div class="row"><h4>Available Jobs</h4></div>		
        <table class="table table-bordered">
			<tr>
				<th>Location</th>
				<th>Position</th>
				<th>Company</th>
			</tr>
            {% for job in jobs %}
                <tr class="{{ cycle(['even', 'odd'], loop.index) }}">
                    <td class="location">{{ job.location }}</td>
                    <td class="position">
                        <a href="{{ path('ibw_job_show', { 'id': job.id }) }}">
                            {{ job.position }}
                        </a>
                    </td>
                    <td class="company">{{ job.company }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
